*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(/img/bg-palm.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background: cover;
}

.contenedor {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

h2 {
    font-size: 30px;
    text-transform: lowercase;
    font-weight: lighter;
    margin-bottom: 30px;
}

.avatar {
    margin: 50px;
}

.link {
    background-color: rgb(162, 216, 160);
    width: 400px;
    height: 50px;
    border: none;
    border-radius: 45px;
    padding: 12px;
    margin: 18px;
    text-transform: uppercase;
    font-weight: bold;
}


